<?xml version="1.0"?>
<model>
  <name>Skid robot 1</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Dinusha Gunathilaka</name>
    <email>dinusharg@gmail.com</email>
  </author>

  <author>
    <name>Dinusha Gunathilaka</name>
  </author>

  <description>
    GUS robot.
  </description>
</model>
